*,
*::after,
*::before {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 16px;
  line-height: 1.5; }

body {
  font-size: 1rem;
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  color: #21243d;
  background: #fff; }

h1,
h2,
h3 {
  font-weight: 700; }

h1 {
  font-size: 2.75rem; }

h2 {
  font-size: 1.875rem; }

h3 {
  font-size: 1.625rem; }

ol,
ul {
  list-style: none;
  padding: 0; }

a {
  text-decoration: none;
  color: #21243d; }

.container {
  width: 681px;
  max-width: 100%;
  margin: 0 auto; }

.header {
  font-size: 1.25rem;
  font-weight: 500;
  padding-top: 30px;
  padding-bottom: 140px; }
  .header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    gap: 33px; }
    .header ul a {
      color: #000; }
  .header .works {
    color: #ff6464; }

.year {
  background: #ff7c7c;
  border-radius: 16px;
  font-family: "Heebo", sans-serif;
  font-weight: 900;
  font-size: 1.125rem;
  color: #fff;
  height: 25px;
  max-height: 100%;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17px; }

.mixed-photo {
  margin-top: 46px;
  margin-bottom: 54px; }

.car {
  margin-top: 30px;
  margin-bottom: 27px; }

.footer .wrapper__img {
  gap: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 134px; }

.footer p {
  text-align: center;
  margin-top: 26px;
  margin-bottom: 54px; }

@media (max-width: 376px) {
  .container {
    width: 339px;
    max-width: 100%;
    margin: 0 auto; }
  h1 {
    font-size: 1.875rem; }
  h2 {
    font-size: 1.625rem; }
  h3 {
    font-size: 1.25rem; }
  p {
    font-size: 1rem; }
  .mixed-photo,
  .car,
  .menu {
    width: 339px;
    height: 256px;
    max-width: 100%;
    max-height: 100%; } }
