*,
*::after,
*::before {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 16px;
  line-height: 1.5; }

body {
  font-size: 1rem;
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  color: #21243d;
  background: #fff; }

h1,
h2,
h3 {
  font-weight: 700; }

h1 {
  font-size: 2.75rem; }

h2 {
  font-size: 1.875rem; }

h3 {
  font-size: 1.625rem; }

ol,
ul {
  list-style: none;
  padding: 0; }

a {
  text-decoration: none;
  color: #21243d; }

.container {
  width: 682px;
  max-width: 100%;
  margin: 0 auto; }

.header {
  font-size: 1.25rem;
  font-weight: 500;
  padding-top: 30px;
  padding-bottom: 140px; }
  .header .burger-menu {
    display: none; }
  .header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    gap: 33px; }
    .header ul a {
      color: #000; }
  .header .works {
    color: #ff6464; }

.featured-works {
  margin-top: 15px;
  margin-bottom: 83px; }
  .featured-works h3 {
    font-size: 1.625rem;
    font-family: "Heebo", sans-serif;
    font-weight: 400; }
  .featured-works article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 22px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 22px; }
    .featured-works article h2 {
      margin-bottom: 16px; }
  .featured-works .mobile-work {
    display: none; }
  .featured-works .wrapper__text {
    margin-left: 18px; }
  .featured-works .wrapper__time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .featured-works .wrapper__time p {
      margin-left: 26px;
      margin-bottom: 17px;
      color: #8695a4; }
    .featured-works .wrapper__time img {
      margin-top: 15px;
      margin-bottom: 15px;
      height: 165px;
      max-height: 100%; }
  .featured-works .year {
    background: #142850;
    border-radius: 16px;
    font-family: "Heebo", sans-serif;
    font-weight: 900;
    font-size: 1.125rem;
    color: #fff;
    height: 25px;
    max-height: 100%;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px; }

.footer .wrapper__img {
  gap: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 134px; }

.footer p {
  text-align: center;
  margin-top: 26px;
  margin-bottom: 54px; }

@media (max-width: 376px) {
  .container {
    width: 344px;
    max-width: 100%;
    margin: 0 auto; }
  article {
    display: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%; }
    article img {
      width: 340px;
      height: 230px;
      max-width: 100%;
      margin-bottom: 17px; }
  h1 {
    font-size: 1.875rem; }
  h2 {
    font-size: 1.625rem; }
  time,
  p {
    font-size: 1rem; }
  .article-desctop {
    display: none; }
  .mobile-work__wrapper .mobile-work {
    display: block; }
  nav {
    display: none; }
  #burger-menu {
    display: inline-block; }
    #burger-menu .menu-btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: absolute;
      top: 5;
      right: 5;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1; }
    #burger-menu .menu-btn > span,
    #burger-menu .menu-btn > span::before,
    #burger-menu .menu-btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #616161;
      -webkit-transition-duration: 0.25s;
              transition-duration: 0.25s; }
    #burger-menu .menu-btn > span::before {
      content: "";
      top: -5px; }
    #burger-menu .menu-btn > span::after {
      content: "";
      top: 8px; }
    #burger-menu .menubox {
      display: block;
      position: fixed;
      visibility: hidden;
      top: 0;
      left: -100%;
      width: 300px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      background-color: #eceff1;
      -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
              box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
      -webkit-transition-duration: 0.25s;
              transition-duration: 0.25s; }
    #burger-menu .menu-item {
      display: block;
      padding: 12px 24px;
      color: #333;
      font-family: "Heebo", sans-serif;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
      -webkit-transition-duration: 0.25s;
              transition-duration: 0.25s; }
    #burger-menu .menu-item:hover {
      background-color: #cfd8dc; }
    #burger-menu #menu-toggle {
      opacity: 0; }
    #burger-menu #menu-toggle:checked ~ .menu-btn > span {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    #burger-menu #menu-toggle:checked ~ .menu-btn > span::before {
      top: 0;
      -webkit-transform: rotate(0);
              transform: rotate(0); }
    #burger-menu #menu-toggle:checked ~ .menu-btn > span::after {
      top: 0;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); }
    #burger-menu #menu-toggle:checked ~ .menubox {
      visibility: visible;
      left: 0; }
    #burger-menu .menu-btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: absolute;
      top: 18px;
      right: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1; }
    #burger-menu .menu-btn > span,
    #burger-menu .menu-btn > span::before,
    #burger-menu .menu-btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #616161;
      -webkit-transition-duration: 0.25s;
              transition-duration: 0.25s; }
    #burger-menu .menu-btn > span::before {
      content: "";
      top: -8px; }
    #burger-menu .menu-btn > span::after {
      content: "";
      top: 8px; }
    #burger-menu .menubox {
      display: block;
      position: fixed;
      visibility: hidden;
      top: 18;
      left: -100%;
      width: 300px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      background-color: #eceff1;
      -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
              box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
      -webkit-transition-duration: 0.25s;
              transition-duration: 0.25s; }
    #burger-menu .menu-item {
      display: block;
      padding: 12px 24px;
      color: #333;
      font-family: "Heebo", sans-serif;
      font-size: 1.25rem;
      font-weight: 600;
      text-decoration: none;
      -webkit-transition-duration: 0.25s;
              transition-duration: 0.25s; }
    #burger-menu .menu-item:hover {
      background-color: #cfd8dc; }
    #burger-menu #menu-toggle {
      opacity: 0; }
    #burger-menu #menu-toggle:checked ~ .menu-btn > span {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    #burger-menu #menu-toggle:checked ~ .menu-btn > span::before {
      top: 0;
      -webkit-transform: rotate(0);
              transform: rotate(0); }
    #burger-menu #menu-toggle:checked ~ .menu-btn > span::after {
      top: 0;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); }
    #burger-menu #menu-toggle:checked ~ .menubox {
      visibility: visible;
      left: 0; } }
