$body-bg: #fff;
$dark-text-color: #21243d;
$light-text-color: #8695a4;
$black-color: #000;
$button-color: #ff6464;
$sec-bg: #edf7fa;

*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 1.5;
}

body {
    font-size: 1rem;
    font-family: "Heebo", sans-serif;
    font-weight: 400;
    color: $dark-text-color;
    background: $body-bg;
}

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 1.875rem;
}

h3 {
    font-size: 1.625rem;
}

ol,
ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: $dark-text-color;
}

.container {
    width: 681px;
    max-width: 100%;
    margin: 0 auto;
}

.header {
    font-size: 1.25rem;
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 140px;
    ul {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 33px;
        a {
            color: $black-color;
        }
    }
    .works {
        color: $button-color;
    }
}
.year {
    background: #ff7c7c;
    border-radius: 16px;
    font-family: "Heebo", sans-serif;
    font-weight: 900;
    font-size: 1.125rem;
    color: $body-bg;
    height: 25px;
    max-height: 100%;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.flex{
    display: flex;
    align-items: center;
    gap: 17px;
}

.mixed-photo {
    margin-top: 46px;
    margin-bottom: 54px;
}

.car{
    margin-top: 30px;
    margin-bottom: 27px;
}

.footer {
    .wrapper__img {
        gap: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 134px;
    }
    p {
        text-align: center;
        margin-top: 26px;
        margin-bottom: 54px;
    }
}

@media (max-width: 376px) {
    .container{
        width: 339px;
        max-width: 100%;
        margin: 0 auto;
    }
    h1 {
        font-size: 1.875rem;
    }
    h2 {
        font-size: 1.625rem;
    }
    h3{
        font-size: 1.25rem;
    }

    p {
        font-size: 1rem;
    }
    .mixed-photo,
    .car,
    .menu{
        width: 339px;
        height: 256px;
        max-width: 100%;
        max-height: 100%;
    }
}